.loginPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
        circle at 15% 20%,
        rgba(111,175,255,.28),
        transparent 35%
      ),

      radial-gradient(
        circle at 82% 18%,
        rgba(255,220,160,.18),
        transparent 30%
      ),

      radial-gradient(
        circle at 82% 82%,
        rgba(240,190,230,.16),
        transparent 35%
      ),

      radial-gradient(
        circle at 30% 85%,
        rgba(150,220,255,.2),
        transparent 30%
      ),

      radial-gradient(
        circle at 60% 60%,
        rgba(205,190,255,.14),
        transparent 40%
      ),

      linear-gradient(
        135deg,
        #f8fbff 0%,
        #f7f9ff 30%,
        #fffafc 60%,
        #faf7ff 100%
      );

  animation: bgMove 20s ease-in-out infinite alternate;
  /* 柔和发光 */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(60px);
    pointer-events: none;
  }

  // /* 波浪线 */
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.35;
    pointer-events: none;
    background-image: repeating-radial-gradient(
      circle at 20% 20%,
      transparent 0px,
      transparent 18px,
      rgba(255, 255, 255, 0.45) 19px,
      transparent 20px
    );
    mix-blend-mode: soft-light;
  }
}

@keyframes bgMove {
  0% {
    background-position:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      center;
  }
  100% {
    background-position:
      -40px -20px,
      40px -30px,
      -30px 40px,
      50px 20px,
      -20px 30px,
      center;
  }
}
